<h2>My tasks!</h2>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li><i class="far fa-check-circle"></i><%= link_to task.title, task_path(task) %>
        <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do%>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
    <% else %>
      <li><i class="far fa-circle"></i><%= link_to task.title, task_path(task) %>
        <%= link_to task_path(task), method: :delete, data: { confirm: 'Are you sure?' } do%>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
      <% end %>
  <% end %>
</ul>

<div>
  <i class="fas fa-plus"></i><%= link_to 'Add a new task', new_task_path %>
</div>
